# Telegram Bot configuration
BOT_TOKEN=your_telegram_bot_token_here
NEXTDNS_KEY=your_nextdns_api_key_here
ADMIN_ID=your_telegram_user_id_here
NUM_WORKERS=1
DONATE_PHOTO=AgACAgUAAxkBAAEhBOdpjtu4_D_90mzmM3ax-jLUQbW7HwACjA5rGyK6eFQz2Vzy6zHTMwEAAwIAA3kAAzoE

# Bank Configuration (For manual VietQR code generation)
BANK_ID=MB
BANK_ACCOUNT=0000000000
BANK_NAME=NGUYEN VAN A

# PayOS Configuration (Optional, for automatic payment processing)
PAYOS_CLIENT_ID=
PAYOS_API_KEY=
PAYOS_CHECKSUM_KEY=
PAYOS_WEBHOOK_URL=
